<div class="user-table-container" [@flyIn]="'active'">
  <div class="compoment-backgroud">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h3 class="center-block" style="text-align: center;margin-bottom: 20px;font-size: 32px;">
          待审批的活动列表
        </h3>
      </div>
    </div>
    <br/>
    
    <div class="content-section implementation compoment-box">
      <p-table [columns]="cols" [value]="act" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,15,25,50]"
      paginatorPosition="both">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <!-- <th>活动名称</th>
            <th>志愿时间</th>
            <th>活动结束时间</th> -->
            <th>操作</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr *ngIf="!rowData.hide">
            <td>{{rowData.name}}</td>
            <td>{{rowData.volunteer_time}}</td>
            <td>{{rowData.end}}</td>
            <td class="opt-btn-box">
              <ng-container *ngIf="!mobileAccess">
                <button type="button" class="btn btn-primary" (click)="goToApprove(rowData)">进入审批界面</button>
                <button type="button" class="btn btn-danger" (click)="deleteAct(rowData)" style="width: 5.5rem;">删除活动</button>
              </ng-container>
              <ng-container *ngIf="mobileAccess">
                <button type="button" class="btn btn-primary" (click)="goToApprove(rowData)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteAct(rowData)">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br/><br/>
  </div>
  <p-confirmDialog width="37.5rem" [closable]="false"></p-confirmDialog>
</div>