/* div label.name {
    text-align: left;
    font-size: 1rem;
    padding-left: 0.5rem;
}

div label.v-time {
    text-align: left;
    font-size: 1rem;
}

div label.end-time {
    text-align: left;
    font-size: 1rem;
} */
.compoment-box {
    padding: 0px 1.25rem;
    // padding-right: 1.25rem;
}

div label{
    .name {
        text-align: left;
        font-size: 1rem;
        padding-left: 0.5rem;
    }
    .v-time {
        text-align: left;
        font-size: 1rem;
    }
    .end-time {
        text-align: left;
        font-size: 1rem;
    }
}
td.opt-btn-box {
    padding: 0px;
    text-align: center;
}

@media(max-width: 640px) {
    .compoment-box {
        padding: 0px 0.5rem;
    }
}