/* div label.name {
    text-align: left;
    font-size: 1rem;
    padding-left: 0.5rem;
}

div label.v-time {
    text-align: left;
    font-size: 1rem;
}

div label.end-time {
    text-align: left;
    font-size: 1rem;
} */

div label{
    .name {
        text-align: left;
        font-size: 1rem;
        padding-left: 0.5rem;
    }
    .v-time {
        text-align: left;
        font-size: 1rem;
    }
    .end-time {
        text-align: left;
        font-size: 1rem;
    }
}