div label.name {
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
}

div label.v-time {
    text-align: left;
    font-size: 20px;
}

div label.end-time {
    text-align: left;
    font-size: 20px;
}
