<div class="user-table-container" [@flyIn]="'active'">
  <div class="compoment-backgroud">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h3 class="center-block" style="text-align: center;margin-bottom: 20px;font-size: 32px;">
          待审批的活动列表
        </h3>
      </div>
    </div>
    <br/>
    
    <div class="content-section implementation" style="padding-left: 20px;padding-right: 20px;">
      <p-table [value]="act" [paginator]="true" [rows]="5" paginatorPosition="top" [rowsPerPageOptions]="[5,10,15,20]">
        <ng-template let-act pTemplate="header">
          <tr>
            <th>活动名称</th>
            <th>志愿时间</th>
            <th>活动结束时间</th>
            <th>操作</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-act>
          <tr>
            <td>{{act.name}}</td>
            <td>{{act.volunteer_time}}</td>
            <td>{{act.end}}</td>
            <td><button type="button" class="btn btn-primary" (click)="goToApprove(act.id)">进入审批界面</button></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br/><br/>
  </div>
</div>