<div class="row">
  <div class="col-md-offset-1 col-md-1">
    <button type="button" class="btn btn-info" routerLink="/workspace/act/apllyact">
      <i class="fa fa-fw fa-plus"></i>
      申请活动
    </button>
  </div>
  <div class="col-md-offset-7 col-md-1" *ngIf="authservice.isAdmin">
    <button type="button" class="btn btn-primary" routerLink="/workspace/act/createact">
      <i class="fa fa-fw fa-plus"></i>
      创建活动
    </button>
  </div>
</div>
<div style="height:10px;"></div>

<p-accordion [multiple]="true" expandIcon="" collapseIcon="">
  <p-dataScroller [value]="activities" [rows]="15">
    <ng-template let-act pTemplate="item">
      <div class="ui-datascroller-content">
        <!-- <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5"> -->
        <div>
          <p-accordionTab>
            <p-header>
              <div class="row">
                <div class="col-sm-5"><h4>{{act.name}}</h4></div>
                <div class="col-sm-4"><h4>{{act.org_name[0]}}</h4></div>
                <div class="col-sm-3"><h4>结束时间:{{act.end}}</h4></div>
              </div>
            </p-header>
            <div class="row">
              <h3>Description:</h3>
              <!-- <h4>{{act.description}}</h4> -->
              <div class="col-sm-offset-1 col-lg-10 description">
                <p class="description" [innerHtml]="act.description | showEnterHtml"></p>
              </div>
              <div class="col-lg-1">
                <button type="button" class="btn btn-primary" style="margin-top: 2px;margin-bottom: 2px;">
                  申请活动
                </button>
                <button type="button" class="btn btn-warning" style="margin-top: 2px;margin-bottom: 2px;"
                (click)="report(act)">
                  举报活动
                </button>
              </div>
            </div>
          </p-accordionTab>
        </div>
      </div>
    </ng-template>
  </p-dataScroller>
</p-accordion>

<p-confirmDialog [closable]="false" width="500"></p-confirmDialog>