.compoment-box {
    padding: 0px 1.25rem;
}

td.opt-btn-box {
    padding: 0px;
    text-align: center;
}

div.description {
    background-color:rgb(215, 215, 215);
    border: 1px solid #d6d6d6;
    border-radius: 0.35rem
}

p.description {
    word-break:break-all;
    word-wrap:break-word;
    // margin-top: 12px;
    margin: 0.35rem;
}

@media(max-width: 640px) {
    .compoment-box {
        padding: 0px 0.5rem;
    }
}