<div class="user-table-container" [@flyIn]="'active'">
  <div class="compoment-backgroud">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h3 class="center-block" style="text-align: center;margin-bottom: 20px;font-size: 32px;">
          自主申请活动列表
        </h3>
      </div>
    </div>
    <br/>
    
    <div class="content-section implementation compoment-box">
      <p-table [value]="act" [paginator]="true" [rows]="5" paginatorPosition="top" [rowsPerPageOptions]="[5,10,15,20]"
      dataKey="id" paginatorPosition="both">
        <ng-template let-act pTemplate="header">
          <tr>
            <th style="width: 3em"></th>
            <th>活动名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>申请时间</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-act let-expanded="expanded">
          <!-- <tr *ngIf="!act.hide"> -->
          <tr *ngIf="!act.hide">
            <td style="text-align: center">
              <a href="#" [pRowToggler]="act">
                <i [ngClass]="expanded ? 'fa fa-angle-down fa-2x' : 'fa fa-angle-right fa-2x'"></i>
              </a>
            </td>
            <td>{{act.name}}</td>
            <td>{{act.start}}</td>
            <td>{{act.end}}</td>
            <td>{{act.created | date: 'yyyy-MM-dd'}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-act>
          <tr *ngIf="!act.hide">
            <td [attr.colspan]="5">
              <div class="ui-g ui-fluid expansion-box">
                <div class="ui-sm-12 ui-md-3">
                  <div class="ui-g">
                    <div class="ui-sm-6 ui-md-6">
                      <label>申请时间: {{act.volunteer_time}}</label>
                    </div>
                    <div class="ui-sm-6 ui-md-6">
                      <input required name="editTime" [(ngModel)]="act.editTime" #editTime="ngModel" type="number" style="width: 100%;"
                      min="0" max="{{act.volunteer_time}}" oninput="value=value.replace(/[^\d.]/g,'')">
                    </div>
                  </div>
                  <div class="ui-g">
                    <div class="ui-sm-6 ui-md-6">
                      <button class="btn btn-success" style="width: 100%;" (click)="approveActivity(act)">审批通过</button>
                    </div>
                    <div class="ui-sm-6 ui-md-6">
                      <button class="btn btn-danger" style="width: 100%;"(click)="rejectActivity(act)" >拒绝通过</button>
                    </div>
                  </div>
                  <div class="ui-sm-12 ui-md-12">
                    <div class="description">
                      <p class="description" [innerHtml]="act.description | showEnterHtml"></p>
                    </div>
                  </div>
                </div>
                <div class="ui-sm-12 ui-md-9">
                  <img alt="file" src="volunteer/uploads/{{act.files[0].name}}" style="width:100%;">
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br/><br/>
  </div>
</div>