<div class="user-table-container" [@flyIn]="'active'">
  <div class="compoment-backgroud">
    <br/>
    <h3 style="text-align: center">{{actName}}</h3>
    <br/>
    <div class="content-section implementation compoment-box">
      <div>
        <p>志愿时间：{{actVolunteerTime}}</p>
      </div>
      <p-table #dt [columns]="cols" [value]="membersWaiting" [(selection)]="selectedMembers" [globalFilterFields]="['id','name']"
      [paginator]="true" [rows]="10" paginatorPosition="both" [rowsPerPageOptions]="[10,15,25,50]"
      dataKey="id" >
        <ng-template pTemplate="caption">
          <div class="muti-btn-box">
            <button type="button" style="padding-top: 0.25rem;padding-bottom: 0.1875rem;float: left;" class="btn btn-info" routerLink="/workspace/apr/list">
              <i class="fa fa-angle-left"></i>
              返回
            </button>
            <div class="img-box">
              <img src="assets/imgs/volunteersLogo-alpha.png" style="width: 3rem;height: 3rem;">
            </div>
            <div class="muti-box-2">
              <button type="button" class="btn btn-success muti-opt-btn" (click)="aprMutileMeb()">
                <i class="fa fa-check fa-fw"></i>
                批量审批通过
              </button>
              <button type="button" class="btn btn-danger muti-opt-btn" (click)="rejMutileMeb()">
                <i class="fa fa-close fa-fw"></i>
                批量拒绝通过
              </button>
            </div>
          </div>
 
          <div class="global-box">
            <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
            <label>条目搜索</label>
            <input type="text" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')">
          </div>
          
          <!-- <div class="img-box">
            <img src="assets/imgs/volunteersLogo-alpha.png" style="width: 3rem;height: 3rem;">
          </div> -->
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr style="word-wrap:break-word;">
            <th style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <!-- <th>Id</th>
            <th>Name</th>
            <th>AplTime</th> -->
            <th>志愿时间</th>
            <th>操作</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr *ngIf="!rowData.hide" [pSelectableRow]="rowData" style="word-wrap:break-word;">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>{{rowData.id}}</td>
            <td>{{rowData.name}}</td>
            <td>{{rowData.timestamp | date: 'yyyy-MM-dd hh:mm a'}}</td>
            <td style="text-align: center;">
              <input required name="vt" [(ngModel)]="rowData.time" #vt="ngModel" type="number" class="input-box"
              min="0" max="{{actVolunteerTime}}" oninput="value=value.replace(/[^\d.]/g,'')">
              <!-- <div class="input-val-box" >{{actVolunteerTime*rowData.ratio | number: '1.0-2'}}</div> -->
<!--               <input type="number" class="input-box" value="1" min="0" max="1" step="0.1">
              <div class="input-val-box">0</div> -->
            </td>
            <td class="opt-btn-box">
              <ng-container *ngIf="!mobileAccess">
                <button type="button" class="btn btn-success" (click)="vt.valid&&aprSingleMeb(rowData)">审批通过</button>
                <button type="button" class="btn btn-danger" (click)="rejSingleMeb(rowData)">拒绝通过</button>
              </ng-container>
              <ng-container *ngIf="mobileAccess">
                <button type="button" class="btn btn-success" (click)="vt.valid&&aprSingleMeb(rowData)">
                  <i class="fa fa-check fa-fw"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="rejSingleMeb(rowData)">
                  <i class="fa fa-close fa-fw"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-template>
<!--         <ng-template pTemplate="summary">
          <ul>
            <li *ngFor="let mb of selectedMembers" style="text-align: left">
              {{mb.id + ' - ' + mb.name}}
            </li>
          </ul>
        </ng-template> -->
      </p-table>
    </div>
    <br/>
    <div class="content-section implementation compoment-box">
      <div class="secListTitle">活动已处理名单</div>
      <p-table #dt1 [columns]="cols" [value]="membersDone" [paginator]="true" [rows]="10" paginatorPosition="both" [rowsPerPageOptions]="[10,15,25,50]"
      dataKey="id" [globalFilterFields]="['id','name']">
        <ng-template pTemplate="caption">
            <div class="global-box">
              <!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
              <label>条目搜索</label>
              <input type="text" placeholder="Global Filter" (input)="dt1.filterGlobal($event.target.value, 'contains')">
            </div>
          </ng-template>
        <ng-template pTemplate="header" let-columns> 
          <tr style="word-wrap:break-word;">
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <!-- <th>Id</th>
            <th>Name</th>
            <th>OptTime</th>
            <th>Time</th> -->
            <th>志愿时间</th>
            <th>操作</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData" style="word-wrap:break-word;">
            <td>{{rowData.id}}</td>
            <td>{{rowData.name}}</td>
            <td>{{rowData.timestamp | date: 'yyyy-MM-dd hh:mm a'}}</td>
            <td>
              <input type="number" class="input-box" [value]="rowData.volunteer_time" disabled="true">
<!--               <div class="input-val-box" >{{rowData.volunteer_time | number: '1.0-2'}}</div> -->
<!--               <input type="number" class="input-box" value="1" disabled="true">
              <div class="input-val-box">0</div> -->
            </td>
            <td class="opt-btn-box">
              <ng-container *ngIf="!mobileAccess">
                <button *ngIf="rowData.status==1" type="button" class="btn btn-success" disabled="true">审批已通过</button>
                <button *ngIf="rowData.status==2" type="button" class="btn btn-danger" disabled="true">审批未通过</button>
                <button type="button" class="btn btn-warning" (click)="undoOpt(rowData)">撤销操作</button>
              </ng-container>
              <ng-container *ngIf="mobileAccess">
                <button *ngIf="rowData.status==1" type="button" class="btn btn-success" disabled="true">
                  <i class="fa fa-check fa-fw"></i>
                </button>
                <button *ngIf="rowData.status==2" type="button" class="btn btn-danger" disabled="true">
                  <i class="fa fa-close fa-fw"></i>
                </button>
                <button type="button" class="btn btn-warning" (click)="undoOpt(rowData)">
                  <i class="fa fa-undo fa-fw"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br/><br/>
  </div>
</div>

<p-confirmDialog width="37.5rem" [closable]="false"></p-confirmDialog>