.sys-title {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
}

.college-select{
    font-size: .8rem;
    height: 1.7rem;
}

.form-group {
    // margin-bottom: 10px;
    margin: 0px 0px 10px 0px;
}