<div class="user-table-container" [@flyIn]="'active'">
  <div class="compoment-backgroud">
    <br/><br/>
    <h3 class="center-block sys-title">
      活动申请
    </h3>
    <h4 style="text-align:center; color:red; padding: 0px 30px 0px 30px;">
      注意！   请正确填好所申请的志愿时间，并且将活动主办方所颁发的证明清晰地拍下来后上传。
    </h4>
      <form #form="ngForm" (ngSubmit)="form.form.valid && selectItem!='' && apllyAct()" novalidate class="form-inline form-horizontal" role="form">
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 form-group" style="padding: 0px;">
            <div class="col-xs-12 col-sm-6">
              <label class="col-xs-3 col-sm-7 control-label" style="margin-top: 7px;">活动申请人:</label>
              <label class="col-xs-9 col-sm-5 form-control-static" style="text-align:left;">{{currentUser.id+' '+currentUser.name}}</label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group" [ngClass]="{ 'has-error': form.submitted && !ename.valid }">
            <label class="col-xs-3 col-sm-7 control-label">活动名称:</label>
            <div class="col-xs-12 col-sm-4">
              <input required name="ename" [(ngModel)]="act.ename" #ename="ngModel" type="text" 
              class="input-group form-control">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group" [ngClass]="{ 'has-error': form.submitted && selectItem=='' }">
            <label class="col-xs-3 col-sm-3 control-label">活动举办方:</label>
            <div class="col-xs-12 col-sm-4">
              <select [(ngModel)]="selectItem" name="clg" #clg="ngModel" class="from-control college-select">
                <option value="">请选择</option>
                <option *ngFor="let college of selectMenu" [value]="college.id">{{college.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group" [ngClass]="{ 'has-error': form.submitted && (!dateE.valid || !dateS.valid) }">
            <label class="col-xs-12 col-sm-7 control-label">起始时间:</label>
            <div class="col-xs-12 col-sm-4">
              <input required name="dateS" type="date" [(ngModel)]="act.start" #dateS="ngModel" 
              class="form-control" [max]="act.end">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group" [ngClass]="{ 'has-error': form.submitted && (!dateE.valid || !dateS.valid) }">
            <label class="col-xs-3 col-sm-3 control-label">结束时间:</label>
            <div class="col-xs-12 col-sm-4">
              <input required name="dateE" [(ngModel)]="act.end" #dateE="ngModel" type="date" 
              class="form-control" [min]="act.start">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group" [ngClass]="{ 'has-error': form.submitted && !volTime.valid }">
            <label class="col-xs-3 col-sm-7 control-label">申请志愿时间:</label>
            <div class="col-xs-12 col-sm-4">
              <div class="input-group">
                <input required name="volTime" [(ngModel)]="act.volunteer_time" #volTime="ngModel" type="text" oninput="value=value.replace(/[^\d.]/g,'')"
                  class="form-control" style="text-align:right;" maxlength="5">
                <div class="input-group-addon">小时</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group" [ngClass]="{ 'has-error': form.submitted && !F.valid }">
            <label class="col-xs-3 col-sm-3 control-label">附件:</label>
            <div class="col-xs-12 col-sm-4" [ngClass]="{'text-danger': form.submitted && !F.valid}">
              <input type="file" required name="F" (change)="fuck($event)" [(ngModel)]="act.other" #F="ngModel" style="font-size: 0.9rem">
              <!-- <input type="file" required #F (change)="fuck($event)"  style="height:3.4rem" [ngClass]="{'text-danger': form.submitted && !F.target.files}"> -->
              <!-- <input type="file" required name="F" #F="ngModel" [(ngModel)]="act.other" style="height:34px" (change)="fileWork($event)"> -->
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 form-group" [ngClass]="{ 'has-error': form.submitted && !describe.valid }">
            <div class="col-xs-12 col-sm-offset-3 col-sm-7">
              <textarea required [(ngModel)]="act.description" name="describe" #describe="ngModel" class="form-control" rows="6" style="resize:none; width: 100%"
                placeholder="这里输入这个活动的简单描述..." class="form-control" ></textarea>
            </div>
          </div>
          <br/>
          <div class="col-xs-12 col-sm-12 form-group">
            <div class="col-xs-3 col-sm-offset-4 col-sm-2" style="text-align:center">
              <button type="submit" class="btn btn-success">
                <i class="fa fa-fw fa-check"></i>
                确认申请
              </button>
            </div>
            <div class="col-xs-3 col-sm-2" style="text-align:center">
              <button type="button" class="btn btn-danger" routerLink="/workspace/act/activities">
                <i class="fa fa-fw fa-trash"></i>
                取消申请
              </button>
            </div>
          </div>
        </div>
        <br/>
      </form>
  </div>
</div>