<div>
    <div class="row">
        <div class="col-md-4" style="height: 100px;">
            <div class="initials" style="background-color: #20d077;color: #038d4a;">
                VTime
            </div>
            <div class="card">
                <span class="count">{{currentUser.volunteer_time}}</span>
            </div>
        </div>
    </div>


    <br/><br/>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p-chart type="line" [data]="data"></p-chart>
        </div>
    </div>


</div>