<div>
    <div class="row">
        <div class="col-md-offset-3 col-md-2">
            <div class="ui-card-shadow" style="background-color:#2ffff6">
                <br/>
                <h3 style="text-align:center">志愿时间</h3>
                <h3 style="text-align:center;color:#2ea700">66H</h3>
                <br/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ui-card-shadow" style="background-color:#ff3900">
                <br/>
                <h3 style="text-align:center">第二成绩</h3>
                <h3 style="text-align:center;color:#dcea00">14.7</h3>
                <br/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ui-card-shadow" style="background-color:#62ff3e">
                <br/>
                <h3 style="text-align:center">新的消息</h3>
                <h3 style="text-align:center;color:#3e7fff">4条</h3>
                <br/>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p-chart type="line" [data]="data"></p-chart>
        </div>
    </div>
</div>